.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}
